<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Tweet</title>
  </head>
  <body>
    <h1>Tweet Editor</h1>
    <form method="POST" action="/<%= tweet.id %>?_method=PATCH">
      <textarea name="tweet" id="" cols="30" rows="10">
<%= tweet.tweet %></textarea
      >
      <button>Save</button>
    </form>

    <button>Back</button>
  </body>
</html>
